<div class="nav">
  <div class="nav-list">
    <div class="nav-item logo">
      <!--      Logo      -->
      <fa-icon class="icon" [icon]="faLogo"></fa-icon>
    </div>
    <div class="nav-item active" (click)="onSearch()">
      <fa-icon [icon]="faSearch"></fa-icon>
      <div></div>
      <label class="nav-caption">Suche</label>
    </div>
    <div class="nav-item" (click)="onSearch()">
      <fa-icon [icon]="faSubway"> </fa-icon>
      <div></div>
      <label class="nav-caption">Fahrplan</label>
    </div>
    <div class="nav-item" (click)="onSearch()">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      <div></div>
      <label class="nav-caption">Scooter</label>
    </div>
  </div>
</div>
<div class="content">
  <div class="left">
    <div class="search-content">
      <h2>Verbindungssuche</h2>
      <label>
        <input type="text" class="form-control input-field user-input input-text" name="Start"
               placeholder="Start" required [(ngModel)]="start">
      </label>
      <div></div>
      <label>
        <input type="text" class="form-control input-field user-input input-text" name="Destination"
               placeholder="Ziel" required [(ngModel)]="destination">
      </label>
      <div></div>
      <label>
        <input type="date" class="form-control input-field user-input input-text" [(ngModel)]="date">
      </label>
      <div></div>
      <label>
        <input type="text" placeholder="hh:mm" class="form-control input-field user-input input-text" [(ngModel)]="time">
      </label>
      <div></div>
      <label>
        <button class="btn btn-primary button" (click)="onRequest()">Verbindung suchen</button>
      </label>
    </div>
  </div>
  <div class="right">
    <img class="background-image" src="../../assets/background.jpg" alt="background image" *ngIf="!requested">
    <router-outlet></router-outlet>
  </div>
</div>
