<div class="content">
  <div *ngFor="let co of connections, let i = index ">
    <div class="panel">
      <div class="click" (click)="onItem(co,i)">
        <fa-icon [icon]="arrowRight" *ngIf="!isSelected || isSelectedIndex !== i"></fa-icon>
        <fa-icon [icon]="arrowDown" *ngIf="isSelected && isSelectedIndex === i"></fa-icon>
      </div>
      <div class="click" (click)="onItem(co,i)">
        <label class="abfahrt">
          {{co.abfahrt}}
        </label>
      </div>
      <div class="click" (click)="onItem(co,i)">
        <label class="ankunft">
          {{co.ankunft}}
        </label>
      </div>
      <div class="click" (click)="onItem(co,i)">
        <label class="duration">
          {{co.duration}}
        </label>
      </div>
      <div class="click" (click)="onItem(co,i)">
        <label class="network">
          {{co.network}}
        </label>
      </div>
      <div class="click" (click)="onItem(co,i)">
        <label class="price">
          {{co.price | currency:' '}} €
        </label>
      </div>
    </div>
  </div>
</div>
