<div class="content">
  <div *ngFor="let trip of trips, let i = index ">
    <div class="panel">
      <div class="click" (click)="onItem(trip,i)">
        <fa-icon [icon]="arrowRight" *ngIf="!isSelected || isSelectedIndex !== i"></fa-icon>
        <fa-icon [icon]="arrowDown" *ngIf="isSelected && isSelectedIndex === i"></fa-icon>
      </div>
      <div class="click" (click)="onItem(trip,i)">
        <label class="abfahrt">
          {{trip.abfahrt}}
        </label>
      </div>
      <div class="click" (click)="onItem(trip,i)">
        <label class="ankunft">
          {{trip.ankunft}}
        </label>
      </div>
      <div class="click" (click)="onItem(trip,i)">
        <label class="duration">
          {{trip.duration}}
        </label>
      </div>
      <div class="click" (click)="onItem(trip,i)">
        <label class="network">
          {{trip.network}}
        </label>
      </div>
      <div class="click" (click)="onItem(trip,i)">
        <label class="price">
          {{trip.price | currency:' '}} €
        </label>
      </div>
    </div>
  </div>
</div>
