<div class="content">
  <div *ngFor="let co of connections, let i = index ">
    <div class="panel">
      <div class="click" (click)="onItem(i)">

      </div>
      <div class="click" (click)="onItem(i)">
        <label class="abfahrt">
          {{co.abfahrt}}
        </label>
      </div>
      <div class="click" (click)="onItem(i)">
        <label class="ankunft">
          {{co.ankunft}}
        </label>
      </div>
      <div class="click" (click)="onItem(i)">
        <label class="duration">
          {{co.duration}}
        </label>
      </div>
      <div class="click" (click)="onItem(i)">
        <label class="network">
          {{co.network}}
        </label>
      </div>
      <div class="click" (click)="onItem(i)">
        <label class="price">
          {{co.price | currency:' '}} €
        </label>
      </div>
    </div>
  </div>
</div>
