@import "../../variables";

.content {
  margin-top: 10rem;
  width: 100%;
  padding: 1rem;
  .panel {
    width: 100%;
    padding: 1rem;
    border: 1px solid $lightgrey;
    display: flex;
    justify-content: space-between;

  }

  .mat-header {
    display: flex;
    justify-content: space-between;


  }

  .description {
    display: block;
  }
}
